/* Feuille de style : SMI */

html    /* Style à appliquer sur l'ensemble du document */
{ 
  margin: 0;
  padding: 0;
  background: url(../images/smi5.jpg) no-repeat center fixed; 
  background-size: cover; /* version standardisée */
}

body   /* Style à appliquer sur l'ensemble du corps du document */
{
  margin-right: 5%;             /* Gestion des marges latérales */
  margin-left: 5%;
}

h1    /* Style à appliquer sur les titres h1 */
{
  background-color: rgba(255,255,255,0.35);
  text-align: center;
  color:  #0D4D4D;      
  font-size: 2.25em;
  font-family: Helvetica, Arial, sans-serif;
}

em
{
  color: white;
  font-size: 1.25em;
 }

label
{
  color: black;
  font-family: Arial, sans-serif;
 }

header
{
  text-align: center;
  clear: both;
}
p     /* Style à appliquer sur les paragraphes */
{
  font-family: Arial, sans-serif;
  color: #AD0000;      /* Couleur de texte : ocre */
  text-indent: 3%;
}
p.erreur
{
  font-weight: bold;
  color: white;
}
/* Gestion des hyperliens */
a:link
{
  color: #184A18;
}
a:visited
{
  color: #520031;
}
a:hover
{
  color: white;
  background: green;
}
a:active
{
  color: black;
}
legend
{
  color: #0D4D4D;
  font-family: Arial, sans-serif;
}
form
{
  width: 66%;
}
fieldset.gauche
{
  width: 50%;
  color: black ;
  font-family: Arial, sans-serif;
  float: left;
}
div.valid
{
  position: relative;
  top: 10px;
  left: 20px;
}
div.tablo 
{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}
div.tablo ul
{
  background-color: silver; 
  text-align: left;
  border-bottom: 2px solid gray;
}
div.tablo li
{
  list-style-type: none;
  margin-left: 10px;
  display: inline;
}
div.tablo li:first-child
{
  font-style: normal;
  font-size: larger;
}
div.tablo li:last-child
{
  font-style: normal;
  font-size: larger;
  color:#0D4D4D;
  position: absolute;
  left: 400px;
}
footer
{
  background-color: rgba(255,255,255,0.75); 
  text-align: center;
  position: relative;
  top: 5px;
  padding: 5px;
}
div.ajout
{
  color: #0D4D4D;
  font-family: Arial, sans-serif;
}
