[Unit]
Description=MQTT Client Script
After=network.target

[Service]
User=*username*
WorkingDirectory=*workdir*
ExecStart=*dirtoexecstart*
Restart=always

[Install]
WantedBy=multi-user.target
